/* Simple reset, from: https://mattbrictson.com/blog/css-normalize-and-reset */

:root {
  line-height: 1.5;
  box-sizing: border-box;
  font-family: mono, sans-serif;
  --colour-1: #1992d4;
  --colour-2: #ffffff;
  --colour-3: #e2e8f0;
  --colour-4: #f0b429;

}

h1, h2, h3, h4, h5, figure, p, ol, ul, body {
  margin: 0;
}

ol, ul {
  list-style: none;
  padding-inline: 0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  max-inline-size: 100%;
}

/* New general styling */

.container {
  padding: 2px;
  background-color: var(--colour-1);
  /*height: 100vh;*/

  display: grid;
  grid-template: 200px 5fr / 1fr 4fr;
  /*grid-gap: 2px;*/
}

/* All header related styling */
.header {
  background-color: var(--colour-2);
  grid-column: 2;

  padding: 10px;
  display: grid;
  grid-template: 1fr 2fr / 2fr 1fr;
  grid-gap: 2px;
}

.svg-embedded-icon {
  width: 30px;
  height: 30px;
}

.icon-button {
  background: none;
  border: none;
  border-radius: 50px;
}

.svg-embedded-icon:hover {
  background-color: var(--colour-3);
}

.search-actions-area {
  padding: 3px;
  display: grid;
  grid-template-columns: 50px 7fr;
  grid-gap: 3px;
  align-items: center;
}

.search-actions-area input {
  background-color: var(--colour-3);
  border: none;
  height: 50%;
  border-radius: 30px;
}

.user-actions-area {
  padding: 3px;
  display: grid;
  justify-items: right;
}

.user-actions-area-container {
  display: grid;
  grid-template-columns: 50px 1fr 3fr;
  grid-gap: 3px;
  align-items: center;
}

.user-actions-area-container span {
  text-align: center;
}

.user-details-area {
  padding: 3px;
  display: grid;
  grid-template: 1fr 1fr / 1fr 4fr;
  grid-gap: 3px;
}

.user-details-area .header-profile-avatar {
  display: grid;
  justify-items: center;
}

.user-details-area .header-profile-avatar img {
  width: 100px;
  height: 100px;
}

.header-profile-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid black;
}

.user-details-area .header-profile-avatar {
  grid-row: 1 / 3;
  grid-column: 1;
}

.user-details-area .user-greeting-text {
  grid-column: 2;
  display: grid;
  align-items: end
}

.user-details-area .user-name-text {
  grid-column: 2;
  grid-row: 2;
}

.project-actions-area {
  padding: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.project-actions-area button {
  background-color: var(--colour-1);
  color: var(--colour-2);
  border: none;
  height: 50px;
  width: 120px;
  border-radius: 50px;
}

/* All sidebar related styling */
.sidebar {
  background-color: var(--colour-1);
  grid-column: 1;
  grid-row: 1 / 3;

  padding: 10px;
  display: inline-grid;
  grid-template-rows: 100px 350px;
  grid-gap: 2px;
}

.sidebar a {
  color: var(--colour-2);
  text-decoration: none;
  display: block;
}

.sidebar li {
  padding: 5px;
}

.sidebar li:hover {
  background-color: #1681BA;
}

.sidebar .icon-span {
  display: inline-block;
  margin-right: 20px;
}

.branding {
  grid-row: 1;
}

.navigation {
  grid-row: 2;
  padding: 10px;

  display: inline-grid;
  grid-template-rows: 2fr 1fr;
  grid-gap: 40px;
}

.nav-main {
  /*border: 1px dashed red;*/
  grid-row: 1;
}

.nav-extas {
  /*border: 1px dashed red;*/
  grid-row: 2;
}

/* All main-content related styling */
.main-content {
  background-color: var(--colour-3);
  grid-column: 2;

  padding: 10px;
  display: grid;
  /*grid-template: 1fr 1fr / 3fr 1fr;*/
  grid-template: 400px 400px / 3fr 1fr;
  grid-gap: 5px;
}

.user-projects {
  grid-row: 1 / 3;
  grid-column: 1;
  padding: 10px;

  display: grid;
  grid-template-rows: 50px 1fr;
}

.user-projects .main-heading {
  grid-row: 1;
}

.user-projects .projects {
  grid-row: 2;
  padding: 10px;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
  overflow: auto;
}

.project-card {
  position: relative;
  background-color: var(--colour-2);
  border-left: 10px solid var(--colour-4);
  padding: 10px;
  height: 350px;
  border-radius: 10px;

  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  grid-gap: 2px;
}

.project-card .action-icons {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.site-announcements {
  grid-row: 1;
  grid-column: 2;
}

.trending-projects {
  grid-row: 2;
  grid-column: 2;
}

.site-announcements {
  padding: 10px;

  display: grid;
  grid-template-rows: 55px 1fr;
  grid-gap: 5px;
}

.announcements {
  background-color: var(--colour-2);
  padding: 10px;
  border-radius: 10px;
  max-height: 90%;
  overflow: auto;
}

.announcement-card {
  padding: 10px;
}

.announcement-card:not(:last-child) {
  border-bottom: 1px solid black;
}

.trending-projects {
  padding: 10px;

  display: grid;
  grid-template-rows: 55px 1fr;
  grid-gap: 5px;
  align-items: center;
}

.other-projects {
  background-color: var(--colour-2);
  padding: 10px;
  border-radius: 10px;
  max-height: 90%;
  overflow: auto;

  display: grid;
  grid-gap: 10px;
}

.project-card-simple {
  display: grid;
  grid-template: 1fr 1fr / 1fr 3fr
}

.project-card-simple .header-profile-avatar {
  grid-row: 1 / 3;
  grid-column: 1;
}

.project-card-simple .user-name-other {
  grid-row: 1;
  grid-column: 2;
}

.project-card-simple .other-project-title {
  grid-row: 2;
  grid-column: 2;
}
